/**
 * @section Base Styles
 */

body {
	background-color: #ffffff;
	margin:0;
	font-family: 'PT Sans', sans-serif;
}

input,
textarea,
select,
button {
	font: inherit;
}
ul {
	margin:0;
	padding:0;
}